
# Logs
EcommerceBackend/logs
EcommerceBackend/*.log
EcommerceBackend/npm-debug.log*
EcommerceBackend/yarn-debug.log*
EcommerceBackend/yarn-error.log*
EcommerceBackend/pnpm-debug.log*
EcommerceBackend/lerna-debug.log*

EcommerceBackend/node_modules
EcommerceBackend/dist
EcommerceBackend/dist-ssr
EcommerceBackend/*.local

# dotenv environment variable files
.env
EcommerceBackend/.env
.env.development.local
.env.test.local
.env.production.local
.env.local


# Editor directories and files
EcommerceBackend/.vscode/*
EcommerceBackend/!.vscode/extensions.json
EcommerceBackend/.idea
EcommerceBackend/.DS_Store
EcommerceBackend/*.suo
EcommerceBackend/*.ntvs*
EcommerceBackend/*.njsproj
EcommerceBackend/*.sln
EcommerceBackend/*.sw?
